# **UTS PE**

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
# statsmodels
import statsmodels.api as sm
import statsmodels.formula.api as smf

# sklearn
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score

# assumptions
## kolmogorov-smirnov test
from scipy import stats
from statsmodels.stats.diagnostic import het_breuschpagan
from statsmodels.stats.diagnostic import acorr_ljungbox

Metrics Template:

In [4]:
def metrics(y_test, X_test, model):
    """
    Menghitung evaluasi model regresi: R-squared, Adjusted R-squared, Log-Likelihood, AIC, dan BIC.

    Parameters:
    - y_test: Array-like, nilai aktual dari variabel dependen
    - X_test: DataFrame, variabel independen untuk data uji
    - model: Hasil regresi dari statsmodels (model.fit())

    Returns:
    - DataFrame dengan nilai R², Adjusted R², Log-Likelihood, AIC, dan BIC.
    """
    from sklearn.metrics import r2_score
    import numpy as np
    import pandas as pd

    # Prediksi nilai dari model
    y_pred = model.predict(X_test)

    # Hitung R-squared (R²)
    r2 = r2_score(y_test, y_pred)

    # Hitung Adjusted R²
    n = X_test.shape[0]  # Jumlah observasia
    p = X_test.shape[1]  # Jumlah prediktor
    adj_r2 = 1 - (1 - r2) * (n - 1) / (n - p - 1)

    # Hitung Log-Likelihood (LL)
    residuals = y_test - y_pred
    sse = np.sum(residuals ** 2)  # Sum of Squared Errors
    sigma2 = sse / n  # Estimasi varians residual
    ll = -0.5 * n * (np.log(2 * np.pi * sigma2) + 1)

    # Hitung AIC dan BIC
    aic = 2 * (p + 1) - 2 * ll  # AIC formula: 2k - 2LL (k = jumlah parameter)
    bic = np.log(n) * (p + 1) - 2 * ll  # BIC formula: ln(n) * k - 2LL

    # Buat DataFrame hasil evaluasi
    metrics_dict = {
        "R-squared": r2,
        "Adjusted R-squared": adj_r2,
        "Log-Likelihood": ll,
        "AIC": aic,
        "BIC": bic
    }
    metrics_df = pd.DataFrame(metrics_dict, index=[0])

    return metrics_df

Assumption Template:

In [3]:
from scipy.stats import kstest
from statsmodels.stats.diagnostic import het_breuschpagan, acorr_ljungbox

def test_assumptions(residuals, X_train):
    """
    Test assumptions of normality, homoskedasticity, and no-autocorrelation.

    Parameters:
    - residuals: Residuals from the regression model.
    - X_train: Training data for independent variables.

    Returns:
    - DataFrame with columns: Assumption, Statistics, p-value, and Conclusion.
    """

    # Normality Test (Kolmogorov-Smirnov)
    ks_statistic, ks_pvalue = kstest(residuals, 'norm', args=(residuals.mean(), residuals.std()))
    ks_conclusion = "Fail to Reject H0 (Normal)" if ks_pvalue > 0.05 else "Reject H0 (Not Normal)"

    # Homoskedasticity Test (Breusch-Pagan)
    bp_statistic, bp_pvalue, _, _ = het_breuschpagan(residuals, X_train)
    bp_conclusion = "Fail to Reject H0 (Homoskedastic)" if bp_pvalue > 0.05 else "Reject H0 (Heteroskedastic)"

    # No-Autocorrelation Test (Ljung-Box) up to 10 lags
    lb_results = acorr_ljungbox(residuals, lags=10, return_df=True)
    
    # Extract statistics and p-values for each lag
    lb_statistics = lb_results['lb_stat'].tolist()  # lb_stat is the Ljung-Box statistic for each lag
    lb_pvalues = lb_results['lb_pvalue'].tolist()  # lb_pvalue is the p-value for each lag

    # Build the conclusion for autocorrelation test
    autocorrelation_lags = [lag + 1 for lag, pval in enumerate(lb_pvalues) if pval <= 0.05]
    if autocorrelation_lags:
        lb_conclusion = f"Autocorrelation exists at lag {', '.join(map(str, autocorrelation_lags))}"
    else:
        lb_conclusion = "No Autocorrelation up to lag 10"

    # Create DataFrame
    results = pd.DataFrame({
        "Assumption": ["Normality", "Homoskedasticity", "No Autocorrelation"],
        "Statistics": [ks_statistic, bp_statistic, lb_statistics],
        "p-value": [ks_pvalue, bp_pvalue, lb_pvalues],
        "Conclusion": [ks_conclusion, bp_conclusion, lb_conclusion]
    })

    return results

In [1]:
import pandas as pd

In [26]:
pdb = pd.read_excel('PDBB.xlsx')

In [28]:
pdb

                            PDB
0          1967-12-31,53.3382,,
1     1968-12-31,64.8392,21.56,
2     1969-12-31,74.3422,14.66,
3      1970-12-31,79.4135,6.82,
4     1971-12-31,78.8658,-0.69,
5     1972-12-31,90.5121,14.77,
6    1973-12-31,130.4897,44.17,
7    1974-12-31,201.6677,54.55,
8    1975-12-31,232.1706,15.13,
9    1976-12-31,277.0508,19.33,
10   1977-12-31,332.2821,19.94,
11    1978-12-31,364.2858,9.63,
12    1979-12-31,355.236,-2.48,
13    1980-12-31,489.1602,37.7,
14   1981-12-31,563.7834,15.26,
15    1982-12-31,580.8106,3.02,
16   1983-12-31,510.435,-12.12,
17    1984-12-31,522.7171,2.41,
18   1985-12-31,514.4376,-1.58,
19   1986-12-31,472.7226,-8.11,
20   1987-12-31,440.3724,-6.84,
21    1988-12-31,479.8107,8.96,
22      1989-12-31,527.8115,10,
23     1990-12-31,582.679,10.4,
24    1991-12-31,629.1607,7.98,
25    1992-12-31,678.9777,7.92,
26   1993-12-31,824.0791,21.37,
27   1994-12-31,907.4718,10.12,
28  1995-12-31,1020.1467,12.42,
29  1996-12-31,1129.0927,10.68,
30  1997-12-31,1054.3474,-6.62,
31  1998-12-31,459.1919,-56.45,
32    1999-12-31,663.5232,44.5,
33   2000-12-31,770.8654,16.18,
34   2001-12-31,739.0039,-4.13,
35   2002-12-31,888.9014,20.28,
36  2003-12-31,1052.4132,18.39,
37   2004-12-31,1136.7552,8.01,
38   2005-12-31,1249.3977,9.91,
39  2006-12-31,1572.7979,25.88,
40  2007-12-31,1840.3299,17.01,
41  2008-12-31,2144.3895,16.52,
42   2009-12-31,2239.0953,4.42,
43   2010-12-31,3094.4431,38.2,
44  2011-12-31,3613.8009,16.78,
45   2012-12-31,3668.2121,1.51,
46  2013-12-31,3602.8855,-1.78,
47   2014-12-31,3476.6249,-3.5,
48  2015-12-31,3322.5817,-4.43,
49   2016-12-31,3558.8189,7.11,
50   2017-12-31,3839.7851,7.89,
51   2018-12-31,3902.6617,1.64,
52   2019-12-31,4151.2276,6.37,
53  2020-12-31,3895.6182,-6.16,
54  2021-12-31,4334.2315,11.26,
55  2022-12-31,4787.9124,10.47,
56   2023-12-31,4940.5498,3.19,

In [29]:
pdb[['Date', 'PDB', 'Unwanted', 'Check']] = pdb['PDB'].str.split(',', expand=True)
pdb

          PDB        Date Unwanted Check
0     53.3382  1967-12-31
1     64.8392  1968-12-31    21.56
2     74.3422  1969-12-31    14.66
3     79.4135  1970-12-31     6.82
4     78.8658  1971-12-31    -0.69
5     90.5121  1972-12-31    14.77
6    130.4897  1973-12-31    44.17
7    201.6677  1974-12-31    54.55
8    232.1706  1975-12-31    15.13
9    277.0508  1976-12-31    19.33
10   332.2821  1977-12-31    19.94
11   364.2858  1978-12-31     9.63
12    355.236  1979-12-31    -2.48
13   489.1602  1980-12-31     37.7
14   563.7834  1981-12-31    15.26
15   580.8106  1982-12-31     3.02
16    510.435  1983-12-31   -12.12
17   522.7171  1984-12-31     2.41
18   514.4376  1985-12-31    -1.58
19   472.7226  1986-12-31    -8.11
20   440.3724  1987-12-31    -6.84
21   479.8107  1988-12-31     8.96
22   527.8115  1989-12-31       10
23    582.679  1990-12-31     10.4
24   629.1607  1991-12-31     7.98
25   678.9777  1992-12-31     7.92
26   824.0791  1993-12-31    21.37
27   907.4718  1994-12-31    10.12
28  1020.1467  1995-12-31    12.42
29  1129.0927  1996-12-31    10.68
30  1054.3474  1997-12-31    -6.62
31   459.1919  1998-12-31   -56.45
32   663.5232  1999-12-31     44.5
33   770.8654  2000-12-31    16.18
34   739.0039  2001-12-31    -4.13
35   888.9014  2002-12-31    20.28
36  1052.4132  2003-12-31    18.39
37  1136.7552  2004-12-31     8.01
38  1249.3977  2005-12-31     9.91
39  1572.7979  2006-12-31    25.88
40  1840.3299  2007-12-31    17.01
41  2144.3895  2008-12-31    16.52
42  2239.0953  2009-12-31     4.42
43  3094.4431  2010-12-31     38.2
44  3613.8009  2011-12-31    16.78
45  3668.2121  2012-12-31     1.51
46  3602.8855  2013-12-31    -1.78
47  3476.6249  2014-12-31     -3.5
48  3322.5817  2015-12-31    -4.43
49  3558.8189  2016-12-31     7.11
50  3839.7851  2017-12-31     7.89
51  3902.6617  2018-12-31     1.64
52  4151.2276  2019-12-31     6.37
53  3895.6182  2020-12-31    -6.16
54  4334.2315  2021-12-31    11.26
55  4787.9124  2022-12-31    10.47
56  4940.5498  2023-12-31     3.19